nav.mainNav {
	background-color: white;
	padding: 0 1em;
	text-align: center;
	border-bottom: 1px solid #989898;
	a {
		text-decoration: none;
		padding: 1em 1.5em;
		display: inline-block;
		margin-bottom: 1em
	}
	a.active {
		background-color: #b9e1ff;
		border-radius: 4px;
	}
}