/* SCSS example of how to use Mobile Responsiveness without depending on a framework */
header.mainHeader {
	position: relative;
	background-color: white;
	padding: 1em;
	@media (max-width: 425px) {
		height: 5em;
		padding-bottom: 0;
	}
	.title {
		position: absolute;
		bottom: 0.5em;
		right: 0.5em;
		display: inline-block;
		font-size: 1.3em;
		text-align: center;
		font-family: arial;
		@media (max-width: 425px) {
			position: initial;
			width: 100%;
			text-align: center;
		}
	}
}