div.aboutPage {
	p {
		display: inline-block;
		position: relative;
		animation-name: aboutAwesome;
		animation-duration: 4s;
    	animation-iteration-count: infinite;
    	animation-direction: alternate; 
	}
	@keyframes aboutAwesome {
		0% {left: 0; top: 0;}
		25% {left: 25%; top: 300px;}
		50% {left: 45%; top: 200px;}
		75% {left: 50%; top: 400px;}
		100% {left: 75%; top: 304px;}
	}
}