div.dashboardPage{
	h1 {
		color: white;
		text-align: center;
		font-weight: 100;
		margin: 0;
		padding: 0.4em;
		background-color: #a05eb5;
	}
	.spinner {
		display: inline-block;
		margin: auto;
	}
	.spinner.small {
		width: 7em;
	}
	button {
		padding: 1em;
		border: none;
		border-radius: 0.8em;
		background-color: #d7a9e3;
		font-size: 0.8em;
	}
	button:hover {
		color: white;
		background-color: #84329b;
	}
	.sectionContainer{
		vertical-align: top;
		margin: 1em;
		display: inline-block;
		position: relative;
		background-color: white;
		border: 1px solid #cfc3d2;
		min-height: 100px;
		min-width: 14em;
		header {
			text-align: center;
			padding: 0.5em;
			background-color: #84329b;
			color: white;
		}
		section {
			text-align: center;
			padding: 1em;
		}
	}
	.messageBox {
		p {
			margin-top: 0;
		}

	}
	.ajaxBox {
		h2 {
			font-size: 1em;
		}
	}
}