html,body {
	position: relative;
	margin: 0;
	padding: 0;
	height: 100%;
	min-height: 100%;
	width: 100%;
	min-width: 320px;
	font-family: arial;
	background-color: #e4e4e4;
}
button, a {
	cursor: pointer;
}